* {
    font-family: "Plus Jakarta Sans";
}

/* Navbar */
.navigationBar {
    width: 100%;
    display: flex;
    padding: 24px 80px;
    justify-content: space-between;
    align-items: center;
    background: var(--White, #FFF);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    z-index: 999;
}

.loginBtn {
    border-radius: 16px;
    background: var(--Primary, #71CC9B);
    color: var(--White, #FFF);
}

.searchBtn {
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.searchBtn:hover .searchBtnImg {
    filter: invert(100%) brightness(1000%);
}

.logoKorpusLandingPage {
    width: 83px;
    height: 46px;
}

.searchBar{
    border-radius: 24px;
    background: rgba(36, 48, 54, 0.05);
    padding-left: 8px;
    margin-right: 8px;
}

.searchContent{
    background-color: transparent;
    border: transparent;
    font-style: italic;
}

.nav-link.active {
    color: var(--Primary, #71CC9B) !important;
    font-weight: 600;
}

.profil-container {
    position: relative;
}

.popover-basic {
    position: fixed;
}

.lihat-profil {
    color: #71CC9B;
    text-decoration: none;
}

.logout {
    color: red;
    text-decoration: none;
}

.profil-popover {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 999;
    color: black;
}

.divContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mustVerifContainer {
    display: flex;
    background-color: var(--White, #FFF);
    width: 90%; 
    max-width: 1320px; 
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0px;
    border-radius: 20px;
    flex-wrap: wrap; 
}

.mustVerif {
    padding-right: 20px;
    flex: 1;
    min-width: 250px; 
}

.verifBtnContainer {
    flex: 0 0 auto; 
}

@media (max-width: 768px) {
    
}

/* Intro */
.intro {
    margin: 0px 80px;
    padding: 24px 0px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0px 331px 93px 0px rgba(143, 143, 143, 0.00), 0px 212px 85px 0px rgba(143, 143, 143, 0.01), 0px 13px 29px 0px rgba(143, 143, 143, 0.10);
}

.sapaan, .desc {
    color: var(--Black-Font, #243036);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}

.tagLine {
    color: var(--Black-Font, #243036);
    padding: 40px 40px;
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.introBtn {
    width: fit-content;
    display: flex;
    margin-top: 40px;
    padding: 24px 32px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 24px;
    background: var(--Black-Font, #243036);
    color: var(--White, #FFF);
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 16px;
}

/* Features */
.features {
    margin: 40px 80px;
    gap: 24px;
}

.featuresContainer {
    display: flex;
    padding: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: 2px solid #E3E8EF;
    background: var(--White, #FFF);
}

.featuresContainer p {
    padding-left: 16px;
    color: var(--Black-Font, #243036);
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Recent Activity */
.recentActivityContainer {
    display: flex;
    padding: 24px;
    margin: 0px 80px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 24px;
    border: 2px solid var(--Stroke, #E3E8EF);
    background: var(--White, #FFF);
}

/* Review */
.cardBook {
    padding-bottom: 40px;
}

.profilUserContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.star {
    float: right;
}

.rating {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.angkaRating {
    padding-left: 8px;
    float: left;
}

.profileUser {
    width: 40px;
    height: 40px;
    float: right;
}

.namaUser {
    float: left;
}


/* Footer */
.footer {
    margin-top: 40px;
    padding: 24px 80px;
    align-items: center;
    background: var(--White, #FFF);
    box-shadow: 0px -4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logoKorpus2 {
    display: flex;
    width: 180px;
    height: 100px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
}

.moreBtn {
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* Toast */
.custom-toast {
    position: fixed;
    left: 48%;
    top: 37%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 300px;
    background-color: white;
}

.custom-toast .toast-header {
    justify-content: space-between; 
    border-bottom: none; 
}

.custom-toast .toast-header img {
    margin-bottom: 0.5rem;
}

.custom-toast .toast-body {
    text-align: center; 
}

.custom-toast .toast-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-toast .toast-header img {
    margin-bottom: 0.5rem;
}

.custom-toast .me-auto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.me-2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 772px) {
    .tagLine {
        font-size: 54px;
    }
    .mustVerifContainer {
        flex-direction: column; 
        align-items: center;
        text-align: center; 
    }
    .mustVerif {
        padding-right: 0;
        margin-bottom: 20px; 
    }
}
  
@media only screen and (max-width: 576px) {
    .tagLine {
        font-size: 48px;
    }
}